---
import Heading from '../components/Heading.astro';
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro'
import Video from '../components/Video.astro'
---

<Layout title="Contact">
    <Main>
        <Heading>Contact</Heading>
        <Video />
    </Main>
</Layout>
